/* custom pre-loader css  */
.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(250, 249, 246, 0.55);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-preloader img{
    animation: 
    /* pulse 3s ease infinite alternate,  */
    nudge 2s linear infinite alternate;
}

@keyframes pulse {
    0%, 100% {
    }
    50% {
    }
}
  
@keyframes nudge {
    0% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 0);
    }
    
    100% {
      transform: translate(-150px, 0);
    }
}

.addin-body {
    /* position: fixed; */
    width: 100%;
    overflow-y: auto;
    /* height: calc(100vh - 199px); */
    margin: 0 !important;
    flex-grow: 1;
    background-color: var(--primacy-white);
}

.addin-body .tabpanel {
    margin-bottom: 30px !important;
    padding: 5px 15px !important;
}


/* custom button css  */
.custom-btn {
    display: flex;
    color: #3f51b5;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    padding: 6px 12px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 12px;
}

.custom-btn * {
    transition: all 2s ease-in-out;
}

.custom-btn .btn-icon {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}

.custom-btn img {
    width: 100%;
    max-width: 24px;
}

.custom-btn .btn-text {
    display: none;
}

.custom-btn:hover .btn-text {
    display: block;
}

.custom-btn:hover,
.custom-btn.active {
    padding-right: 10px;
    width: 265px;
    border: 1px solid #3f51b5;
}

.custom-btn.active .btn-text {
    display: block;
}

.app-toaster{
    height: 0% !important;
    min-height: 0% !important;
}

/* Stopwatch Timer */
.timer {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    height: 12%;
    justify-content: center;
    align-items: center;
}
 
.digits {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color: #000;
}
 
.mili-sec {
    color: #000;
}

.timer-heading {
    font-size: 39px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
}


.ms-welcome__header {
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    width: 85px;
}

.cards-container {
    width: calc(100% - 85px);
    min-width: 332px;
}

.card-root {
    min-width: 170px;
    margin: 5px 6px;
}

.MuiTypography-root.card-root-title {
    font-size: 14px;
    margin: 0;
}

.MuiTypography-root.card-pos {
    margin-bottom: 0;
    font-size: 24px;
    color: var(--primacy-black);
}

.tabpanel {
    background-color: var(--primacy-white);
}

.addin-body .tabpanel {
    margin-bottom: 30px !important;
    padding: 5px 15px !important;
}

.card-root>.tabpanel {
    padding: 12px !important;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ms-welcome__main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 2px 12px;
    justify-content: center;
}

.ms-welcome__main {
    position: sticky;
    top: 90px;
    z-index: 1000;
    background-color: var(--primacy-white);
}

.ms-welcome__main>h2 {
    width: 100%;
    text-align: center;
}

.ms-welcome__main .MuiCardContent-root {
    padding: 1px;
}

.ms-welcome__main .MuiCardContent-root:last-child {
    padding-bottom: 1px;
}